@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


@font-face {
  font-family: "Inter-Black";
  src: local("Inter-Black");
}


@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular");
}


@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold");
}


@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium");
}


@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold");
}
