:root {
    --inter-bold-font-family: "Inter", Helvetica;
    --inter-bold-font-weight: 700;
    --inter-bold-font-size: 18.899999618530273px;
    --inter-bold-letter-spacing: 0px;
    --inter-bold-line-height: 29.399999618530273px;
    --inter-bold-font-style: normal;
    --inter-medium-font-family: "Inter", Helvetica;
    --inter-medium-font-weight: 500;
    --inter-medium-font-size: 11.399999618530273px;
    --inter-medium-letter-spacing: 0px;
    --inter-medium-line-height: 15.199999809265137px;
    --inter-medium-font-style: normal;
    --inter-regular-font-family: "Inter", Helvetica;
    --inter-regular-font-weight: 400;
    --inter-regular-font-size: 16px;
    --inter-regular-letter-spacing: 0px;
    --inter-regular-line-height: 24px;
    --inter-regular-font-style: normal;
    --inter-regular-underline-font-family: "Inter", Helvetica;
    --inter-regular-underline-font-weight: 400;
    --inter-regular-underline-font-size: 11.399999618530273px;
    --inter-regular-underline-letter-spacing: 0px;
    --inter-regular-underline-line-height: 15.199999809265137px;
    --inter-regular-underline-font-style: normal;
    --semantic-heading-1-font-family: "Inter", Helvetica;
    --semantic-heading-1-font-weight: 900;
    --semantic-heading-1-font-size: 60px;
    --semantic-heading-1-letter-spacing: -3px;
    --semantic-heading-1-line-height: 60px;
    --semantic-heading-1-font-style: normal;
    --semantic-heading-2-font-family: "Inter", Helvetica;
    --semantic-heading-2-font-weight: 700;
    --semantic-heading-2-font-size: 30px;
    --semantic-heading-2-letter-spacing: 0px;
    --semantic-heading-2-line-height: 36px;
    --semantic-heading-2-font-style: normal;
    --semantic-heading-3-upper-font-family: "Inter", Helvetica;
    --semantic-heading-3-upper-font-weight: 700;
    --semantic-heading-3-upper-font-size: 14px;
    --semantic-heading-3-upper-letter-spacing: 1.399999976158142px;
    --semantic-heading-3-upper-line-height: 20px;
    --semantic-heading-3-upper-font-style: normal;
    --semantic-input-font-family: "Inter", Helvetica;
    --semantic-input-font-weight: 400;
    --semantic-input-font-size: 13.300000190734863px;
    --semantic-input-letter-spacing: 0px;
    --semantic-input-line-height: normal;
    --semantic-input-font-style: normal;
    --semantic-link-font-family: "Inter", Helvetica;
    --semantic-link-font-weight: 700;
    --semantic-link-font-size: 24px;
    --semantic-link-letter-spacing: 0px;
    --semantic-link-line-height: 32px;
    --semantic-link-font-style: normal;
  }
  